uvicorn[standard]
fastapi
opencv-python
pdf2image
easyocr
pymupdf
requests
pythainlp
sqlmodel
python-dotenv
psycopg2-binary
python-multipart
authlib
httpx
itsdangerous
pydantic-settings
wordfreq
deepcut